/* Write your CSS here */
.container {
  background-color: #ffc2a0;
  height: 100vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.inner {
  background-color: #ffffff;
  padding: 12px;
  border-radius: 12px;
  text-align: center;
}
.list {
  list-style-type: none;
  text-align: center;
}
.add-btn {
  height: 36px;
  width: 136px;
  font-family: Roboto;
  background-color: #2659e5;
  color: #ffffff;
  border-width: 0px;
  border-radius: 12px;
  margin-left:10px;
}
.input {
  height: 36px;
  width: 286px;
  padding:10px
}
